.ali {
  justify-content: center;
  height: 250px;
  display: flex;
  gap: 5px;
  margin-top: 70px;
}

.ali img {
  width: 10%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms ease;
}

.ali img:hover {
  width: 50%;
}
