* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.img1 {
  width: 80px;
}

.links {
  position: relative;
  background-color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}

.burger {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  margin-bottom: 10px;
}

.burger span {
  margin-top: 6px;
  width: 100%;
  height: 1px;
  background-color: black;
}

.burger span:nth-child(2) {
  width: 50%;
}

.links:hover .burger span:nth-child(2) {
  width: 100%;
  transition: 0.5s;
}

.links:hover ul {
  display: block;
}

ul {
  right: 0;
  position: absolute;
  color: white;
  list-style: none;
  background-color: rgba(221, 221, 221, 0.521);
  color: black;
  padding: 0;
  margin: 0;
  display: none;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
}

ul::before {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: rgba(221, 221, 221, 0.521);
  top: -25px;
  right: 0;
  width: 0;
  height: 0;
}

li {
  padding: 10px 20px;
}

ul li:nth-child(1) {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

ul li:nth-child(2) {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

ul li:nth-child(3) {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.img2 {
  width: 100%;
  height: 100%;
}

.parent {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.h1 {
  position: absolute;
  text-align: center;
  top: 150px;
  color: rgb(80, 208, 191);
}

.p1 {
  margin-left: -80px;
  position: absolute;
  top: 220px;
  text-align: center;
  font-size: 15px;
}

.allcard {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.071);
}

.card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.magic {
  font-size: 30px;
  color: rgb(80, 208, 191);
}

.p2 {
  font-size: 15px;
  font-weight: bold;
}

.p3 {
  width: 60%;
  text-align: center;
  color: rgba(157, 153, 153, 0.867);
}

.diamond {
  font-size: 30px;
  color: rgb(80, 208, 191);
}

.world {
  font-size: 30px;
  color: rgb(80, 208, 191);
}

.Services {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ser {
  margin-top: 50px;
  font-size: 70px;
  color: rgba(128, 128, 128, 0.242);
}

.ser::before {
  content: "Don't be busy, be productive";
  color: gray;
  font-size: 15px;
  margin-left: 35px;
  position: absolute;
  top: 110px;
}

.d1 {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 0;
}

.design {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 25%; */
}

.color {
  position: absolute;
  top: 16%;
  left: -10%;
  font-size: 150%;
  color: rgb(80, 208, 191);
}

.p33 {
  width: 60%;
  text-align: left;
  margin-top: 5px;
  margin-left: 0;
  color: rgba(157, 153, 153, 0.867);
}

.d2 {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.design1 {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 25%; */
}

.affect {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.affect::before {
  content: "";
  position: absolute;
  background-color: rgb(16, 34, 70);
  width: 80px;
  height: 330px;
  right: 60px;
  top: -20px;
  z-index: 1;
}

.img3 {
  padding-bottom: 10px;
  padding-right: 100px;
  width: 100%;
  z-index: 2;
}

.Servicesbody {
  display: flex;

  width: fit-content;
  padding: 0 150px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 225, 225, 0.647);
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.portfoliohead {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  font-size: 50px;
  color: rgba(128, 128, 128, 0.242);
  width: 100%;
}

.portfoliohead::before {
  content: "If you do it right, will last forever.";
  color: gray;
  font-size: 25px;
  margin-left: 15px;
  position: absolute;
  top: 150px;
}

.portfoliobody {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.port {
  max-width: 300px;
  background-color: white;
  margin-bottom: 10px;
  text-align: center;
}

.img5 {
  width: 300px;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.abouthead {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  font-size: 50px;
  color: rgba(128, 128, 128, 0.242);
  width: 30%;
}

.abouthead::before {
  content: "Less is more work";
  color: gray;
  font-size: 25px;
  margin-left: 15px;
  position: absolute;
  top: 150px;
}

.aboutbody {
  position: relative;
  display: flex;
  width: 100%;
}

.abou1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img6 {
  max-width: 350px;
  padding: 0 40px 40px 40px;
  z-index: 2;
}

.para {
  width: 40%;
  font-size: 20px;
}

hr.new5 {
  border: 1px solid green;
  width: 300px;
  position: relative;
  top: 5px;
  left: -130px;
}

.abou1::before {
  content: "";
  position: absolute;
  left: 420px;
  width: 70px;
  height: 300px;
  background-color: rgb(28, 201, 143);
  z-index: 1;
}

.abou1::after {
  content: "";
  position: absolute;
  margin-top: 250px;
  left: 420px;
  width: 200px;
  height: 80px;
  background-color: rgb(28, 201, 143);
  z-index: 1;
}

.para::before {
  content: "";
  position: absolute;
  top: -25px;
  height: 450px;
  width: 80px;
  left: 130px;
  background-color: rgba(157, 153, 153, 0.867);
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 225, 225, 0.647);
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contacthead {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  font-size: 50px;
  color: rgba(128, 128, 128, 0.242);
  width: 100%;
}

.contacthead::before {
  content: "We are born to creat";
  color: gray;
  font-size: 25px;
  margin-left: 15px;
  position: absolute;
  top: 150px;
}

.contactbody {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: 10px;
}

.feel {
  font-weight: 900;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contactbody .feel:nth-child(2) {
  color: rgb(64, 186, 166);
}

.contactbody .feel:nth-child(3) {
  font-weight: 100;
}

.contactfloat {
  display: flex;
  background-color: rgba(33, 36, 75, 0.337);
  width: 100%;
  justify-content: center;
  font-size: 20px;
}

.leon {
  content: "";
  color: white;
}

.f1 {
  color: rgba(20, 22, 21, 0.855);
}
