body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(150deg, rgb(107, 107, 194), rgb(21, 18, 98), rgb(26, 80, 111));
}

.parent {
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0.562), rgb(86, 27, 115));
    border-radius: 12px;
    height: 250px;
    width: 350px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    position: absolute;
    top: -8px;
    left: 15px;
    font-weight: 100;
    font-size: 22px;
    color: rgba(59, 59, 161, 0.885);
}

i {
    position: absolute;
    left: 17px;
    top: 50px;
    width: 310px;
    height: .1px;
    background-color: rgba(59, 59, 161, 0.885);
}

p {
    display: flex;
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 16px;
    color: rgba(59, 59, 161, 0.885);
}

form {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -137px;
    padding: 2px;
}


form :nth-child(1) {
    display: flex;
    position: absolute;
    left: -90px;
    top: -30px;
    width: 310px;
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 8px;
    transition: 500ms ease;
}

form :nth-child(2) {
    display: flex;
    align-items: center;
    position: absolute;
    left: -90px;
    top: 0;
    width: 310px;
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 8px;
    transition: 500ms ease;
}


form :nth-child(3) {
    display: flex;
    align-items: center;
    position: absolute;
    left: -90px;
    top: 30px;
    width: 310px;
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 8px;
    transition: 500ms ease;
}


form :nth-child(4) {
    display: flex;
    align-items: center;
    position: absolute;
    left: -90px;
    top: 60px;
    width: 310px;
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 8px;

    transition: 500ms ease;
}

input:hover {
    background-color: rgba(197, 197, 35, 0.786);
    border-radius: 50px;
}



input[type=submit]:active {
    background-color: green;
    
}