body {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    130deg,
    rgba(154, 40, 235, 0.585),
    rgba(30, 13, 43, 0.875),
    rgb(53, 22, 38)
  );
}

.parent {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    130deg,
    rgb(93, 241, 190),
    rgba(107, 43, 149, 0.485) 100%,
    rgba(255, 0, 0, 0.244) 100%
  );
  top: 40px;
  width: 370px;
  height: 500px;
  border-radius: 20px;
}

.search form input {
  display: flex;
  position: absolute;
  left: 30px;
  top: 25px;
  border: none;
  border-radius: 20px;
  width: 250px;
  height: 40px;
  padding: 7px;
  background-color: rgb(255, 255, 255, 0.8);
  outline: none;
}

.search form input:hover {
  border: 1px solid green;
}

.parent button {
  display: flex;
  position: absolute;
  left: 290px;
  top: 19px;
  margin-top: 4px;
  background-color: rgb(255, 255, 255, 0.8);
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(145, 147, 148);
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;

  transition: 300ms;
}

.parent button:active {
  border: 1px solid green;
}

.b1 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.rain {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -120px;
  width: 150px;
}

.p1 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.p2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  top: 60px;
}

sup {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Times, serif;
  font-size: 30px;
}

.b2 {
  display: flex;
  top: 580px;
  align-items: center;
  
  position: absolute;
  left: 600px;
  gap: 10px;
}

.humidity {
  width: 40px;
  opacity: 0.5;
}

.b3 {
  display: flex;
  justify-content: end;
  top: 580px;
  align-items: center;
  position: absolute;
  right: 600px;
  gap: 10px;
}

.humidity-val {
  color: rgba(255, 255, 255, 0.699);
}

.wind-val {
  color: rgba(255, 255, 255, 0.699);
}

.wind {
  width: 40px;
  opacity: 0.5;
}
