body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    140deg,
    rgba(0, 0, 255, 0.733),
    rgba(52, 85, 134, 0.508)
  );
}

.parent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 260px;
  border-radius: 10px;
  padding: 5px;
}

.parent::before {
  content: "JavaScript";
  display: flex;
  position: absolute;
  color: white;
  top: -75px;
  left: 0;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.parent::after {
  content: "Age Calculator";
  display: flex;
  position: absolute;
  color: yellow;
  top: -40px;
  left: 0;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

form {
  margin-top: 70px;
}

input {
  border: none;
  border-radius: 4px;
  width: 150px;
  height: 20px;
  padding: 5px;
  margin-left: 5px;
}

input:hover {
  border: 1px solid yellow;
}

.btn {
  width: 70px;
  padding: 7px;
  height: 30px;
  background-color: yellow;
  cursor: pointer;
}

.submit:active {
  background-color: white;
}

.para {
  margin-top: 40px;
  width: 120%;
  margin-left: 40px;
}
