body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .one {
    background-color: #ddd;
    padding: 20px 20px;
    width: fit-content;

}

.one::first-letter {
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-left: -40px;
} */


.paragraphs-container p {
    background-color: #ddd;
    padding: 20px;
    border-left: 5px solid red;
    position: relative;
}

.paragraphs-container p::after {
    content: "";
    height: 0;
    width: 0;
    border: 10px solid red;
    border-color: transparent red transparent transparent;
    position: absolute;
    left: -22px;
}

.paragraphs-container p::before {
    content: attr(data-person);
    position: absolute;
    left: -110px;
    background-color: #ddd;
    padding: 20px;
    min-width: 50px;
    top: 0;
}


.counter-p p {
    background-color: #ddd;
    padding: 25px;
    position: relative;
    counter-increment: ali;
}

.counter-p p::after {
    content: "";
    height: 100%;
    width: 3px;
    background-color: red;
    position: absolute;
    top: 0;
    right: -4px;
}

.counter-p p::before {
    content: counter(ali);
    position: absolute;
    left: -40px;
    background-color: red;
    padding: 25px;
    top: 0;
    color: white;
}

.n-circle {
    background-color: #ddd;
    color: orange;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 10px 0px 0px 0px orange, -10px 0px 0px 0px blue;
}

/* .circles-flex {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.circles-flex .circle {
    background-color: #ddd;
    color: orange;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 10px 10px 0px 0px orange, -9px -8px 0px 0px blue;
    border: 5px solid black;
    counter-increment: ali;
    position: relative;
}

.circles-flex .circle::after {
    content: "element";
    color: black;
}

.circles-flex .circle::before {
    content: counter(ali);
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
} */